
/* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* ========================== */
/* BASIC SETUP */
/* ========================== */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ========================================= */
/* This Site Rem is 10px not 16px */
/* ========================================= */
::selection{
    color: #ffff;
    background: #c004c4;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Cutive Mono'; 
}
ul li{
    list-style-type: none;
}
h1{
    font-size: 4rem;
}
/*
 .clearfix::after{
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
} 
*/
/* ========================== */
/* RESIZEABLE COMPONENTS */
/* ========================== */
.row{
    max-width: 114rem;
    margin: 0 auto;
}
section{
    padding: 8rem 0;
}
h2{
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
}
h2::after{
    content: "";
    display: block;
    height: .2rem;
    width: 9rem;
    background: #fff;
    margin: auto;
    margin-top: 1rem;
}
h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 1rem;
}
.box{
    padding: 1%;
}
.box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
}
/* P Tage */
.discription{
    font-size: 1.8rem;
    width: 60%;
    margin: auto;
    margin-bottom: 2rem;
    line-height: 3rem;
}
.btn:link,
.btn:visited,
.btn{
    padding: 1.5rem 2rem;
    color: #fff;
    font-weight: 700;
    background: #000;
    border-bottom: 0.5rem solid #333;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration: none;
    transition: .3s;
    display: inline-block;
    margin-top: 4.5rem;
}

/* ========================== */
/* HEADER SECTION*/
/* ========================== */

header{
    background: linear-gradient(#b53de56e, #6d21d17a), url("img/hero.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}
.hero-text-box{
    width: 114rem;
}
/* main-nav */
.site-name{
    font-size: 5rem;
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 3rem;
    float: left;
}
.main-nav {
    float: right;
    margin-top: 4rem;
}
.main-nav li{
    display: inline-block;
    margin-left: 0rem;
}  
.main-nav li:first-child{
    margin-left: 0rem;
}
.main-nav li a:link,  .main-nav li a:visited{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.6rem 1.6rem;
    border-radius: 0.3rem;
    display: inline-block;
    transition: .5s;
}
 .main-nav li a:hover{
    background: rgb(100, 58, 101,1);
}
/* sticky nav */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(162, 65, 201);
    padding: 1rem 0;
    box-shadow: 0 5px 6px -6px rgb(231, 231, 231);
    z-index: 99999;
}
.sticky .site-name{
    margin-top: 0;
}
.sticky .main-nav{
    margin-top: 1rem;
}
/* Mobile Menu */
.mobile-menu span{
    color: #fff;
    font-size: 4rem;
    float: right;
    margin-top: 2rem;
    cursor: pointer;
    display: none;
    z-index: 1;
}
/* overlay */
.overlay{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000e3;
    overflow-x: hidden;
    transition: .5s;
}
.overlay-content{
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}
.overlay img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}
.overlay a{
    text-decoration: none;
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #ccc;
    padding: 1rem 0;
}
.overlay a:hover{
    color: #fff;
}
.hamberger-social-link ul li{
    display: inline-block;
    margin-left: 2rem;
}
 .overlay .closebtn{
    position: absolute;
    top: 2.5rem;
    right: 9.5rem;
}
.sticky .mobile-menu span{
    margin-top: 0;
}
.active{
    background: #643a65;
}
.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.btn-hero:link,
.btn-hero:visited{
    background: rgb(221, 10, 224);
    border-color: rgb(192, 4, 196);
}
.btn-hero:hover{
    background: rgb(192, 4, 196);
    border-color: rgb(221, 10, 224);
}
/* ========================== */
/* SERVIECS SECTION*/
/* ========================== */
.serviecs-section{
    background: linear-gradient(#009688ad, #009688ab), url("img/serviecs.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}
.serviecs-section h2::after{
    background: #ccc;
}
.serviecs-icon{
    height: 12rem;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;

}
.box h3{
    color: #fff;
}
/* ======================== */
/* TEAM SECTION */
/* ======================== */
.team-scetion{
    background: linear-gradient(#d3e1d2a8, #d3e1d2a8), url("img/team.jpg");
    text-align: center;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.team-scetion h2{
    color: #686868;
}
.team-scetion h2::after{
    background: #686868;
}
.team-members{
    margin: 4.5rem;
    margin-bottom: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}
.team-scetion h3{
    color: #686868;
}
.role{
    font-size: 1.5rem;
    color: #0092fa;
    text-transform: capitalize;
    display: inline-block;
    margin-top: .5rem;
}
.team-scetion box p{
    color: #686868;
}
.social-icon{
    margin-top: 2.5rem;
}
.social-icon ul li{
    display: inline-block;
    margin: .5rem;
}
.social-icon ul li a{
    color: #fff;
    font-size: 2.5rem;
}
.social-icon ul li a:hover{
    color: #9a67eb;
    transform: rotate(360deg);
}
/* ============================== */
/* Skill section */
/* ============================= */
.skill-section{
    background: linear-gradient(#fdfdfd80, #fcfdfc96), url("img/skills.jpg");
    text-align: center;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
.skill-section h2 , h3{
    color: #686868;
}
.skill-section h2::after{
    background: #686868;
}
.skill-section .box{
    margin-top: 4.5rem;
}
svg.radial-progress circle{
    stroke-width: 4;
}
svg.radial-progress text{
    fill: #393939;
    font-size: 1.5rem;
}
svg.web-desing circle{
    stroke: #30bae7;
}
svg.html-css circle{
    stroke: #fc5e14;
}
svg.javascript circle{
    stroke: #f54272;
}
svg.php circle{
    stroke: #14fc97;
}
/* =========================== */
/* PROTFOLIO SECTION */
/* ========================== */
.portfolio-section{
    background: linear-gradient(#616161c4, #707070c4), url("img/protfolio.jpg");
    text-align: center;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.portfolio-section h2{
    color: #ffffff;
}
.portfolio-section h2::after{
    background: #ffffff;
}
.portfolio-section p{
    font-size: 1.8rem;
    color: #fff;
}
.portfolio-fillter{
    margin-bottom: 4.5rem;
}
.btn-portfolio{
    padding: 1rem 1.5rem;
    margin-left: 1rem;
    background: #14fc97;
    border: #fff;
    border-bottom: 0.5rem solid #08bb6d;
    outline: none;
    cursor: pointer;
}
.btn-portfolio:hover{
    background: #08bb6d;
    border-bottom: 0.5rem solid #14fc97;
}
.box h4{
    color: #fff;
    font-size: 2rem;
    margin-top: 1rem;
}
.porfolio-img{
    width: 100%;
    height: auto;
}
.portfolio-section .col:nth-child(3){
    margin-left: 0;
}
.portfolio-section .mixitup-control-active{
    background: #08bb6d;
    border-bottom: 0.5rem solid #14fc97;
}
/* .portfolio-section .btn-load-more{
    background: #14fc97;
    border-color: #08bb6d;
}
.portfolio-section .btn-load-more:hover{
    background:#08bb6d;
    border-color:#14fc97;
} */
/* ======================== */
/* TESTIMONIAL-SECTION */
/* ======================== */
.testimonial-section{
    background: linear-gradient(#3a3a3ac4, #474747c4), url("img/testimonial.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.testimonial-section h2{
    color: #fff;
}
.testimonial-section .discription{
    text-align: center;
    color: #fff;
}
.testimonial-section p{
    font-size: 1.6rem;
    color: #fff;
}
.testimonial-section h2::after{
    background: #686868;
}
.photo{
    width: 11rem;
    float: left;
}
.photo img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.review{
    width: 40rem;
    float: left;
}
.review p{
    font-size: 2rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2rem;
}
.review .role{
    font-size: 3rem;
}
.testimonial-section .col:nth-child(3){
    margin-left: 0;
}
.testimonial-section .col:nth-child(1),
.testimonial-section .col:nth-child(2){
    margin-top: 4rem;
}
.testimonial-section .col:nth-child(3),
.testimonial-section .col:nth-child(4){
    margin-top: 8rem;
}

/* =============================== */
/* CONTACT SECTION */
/* ============================== */
.contact-section{
    background: linear-gradient(#ecf0fa61, #1d62ffe0), url("img/contact.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.contact-section h2{
    color: #fff;
}
.contact-section .discription{
    color: #fff;
}
.contact-section form{
    margin-top: 4.5rem;
    width: 70%;
    margin-left: 15%;
}
.contact-section input[type="text"], input[type="email"],
.contact-section textarea{
    background: #012f97b5;
    border: .1rem solid #012f97b5;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: #fff;
    outline: none;
    margin: .5rem 0rem;
}
.contact-section textarea{
    resize: none;
}
.contact-section form ::placeholder{
    color: #fff;
    opacity: 1;
}
.btn-submit{
    border: 0;
    outline: none;
    background: #0092fa;
    border-bottom: .3rem solid #012f97e0;
    cursor: pointer;
    transition: .5s;
}
.btn-submit:hover{
    background: #054674;
    border-bottom: .3rem solid #0092fa;
}
/* ========================== */
/* FOOTER SECTION */
/* ========================= */
.footer-section{
    border-top: .1rem solid #ccc;
    padding: 2rem .5rem;
    text-align: center;
    background: #012f97e0;
}
.footer-section h4{
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
}
.footer-section .footer-link {
    margin: 1rem 0;
}
.footer-section .footer-link a{
    font-size: 1.8rem;
    text-decoration: none;
    padding: 0rem 1rem;
    margin-left: 1rem;
    color: #fff;
    text-transform: capitalize;
    transition: .3s;
}
.footer-section .footer-link a:hover{
    color: #ff44bd;
}